{% load static %}
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>ስለ እኛ</h2>
          <p>ስለ እኛ <span>ለማወቅ</span></p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-7 position-relative about-img" style="background-image: url({% static "img/about.jpg" %}) ;" data-aos="fade-up" data-aos-delay="150">
            <div class="call-us position-absolute">
              <h4>መደወል ይችላሉ።</h4>
              <p>+251 910 2401 37</p>
            </div>
          </div>
          <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
               በኢንዱስትሪው ውስጥ ያለን ሰፊ ቆይታ የዝግመተ ለውጥ እና የጣዕም ለውጥ የመመስከር እድል ሰጥቶናል፣ነገር ግን ለላቀ ዲዛይን 
               እና እንከን የለሽ የእጅ ጥበብ ስራ ያለን ቁርጠኝነት የማይናወጥ ነው። በመስክ ውስጥ አቅኚዎች እንደመሆናችን መጠን ጊዜን የሚፈታተኑ 
               ብቻ ሳይሆን የሚያጌጡባቸውን ቦታዎች ከፍ የሚያደርጉ የቤት ዕቃዎች መፍትሄዎችን በማቅረብ ውርስ እንኮራለን።
              </p>
              <ul>
                <li><i class="bi bi-check2-all"></i> ጊዜ የማይሽረው የቤት ዕቃዎችን መሥራት.</li>
                <li><i class="bi bi-check2-all"></i> ለደንበኞቻችን ልዩ ፍላጎቶች የተበጁ መፍትሄዎችን መስጠት.</li>
                <li><i class="bi bi-check2-all"></i> ለልዩ ጥራት እና የደንበኛ እርካታ ቁርጠኝነትን ማጠናከር.</li>
              </ul>
              <p>
                በመስክ ውስጥ አቅኚዎች እንደመሆናችን መጠን ጊዜን የሚፈታተኑ 
               ብቻ ሳይሆን የሚያጌጡባቸውን ቦታዎች ከፍ የሚያደርጉ የቤት ዕቃዎች መፍትሄዎችን በማቅረብ ውርስ እንኮራለን።
              </p>

              <div class="position-relative mt-4">
                <img src="{% static "img/about-2.jpg" %}" class="img-fluid" alt="">
                <a href="https://www.youtube.com/watch?v=wCFdTGN9nxo" class="glightbox play-btn"></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
