{% load static %}
<section id="gallery" class="gallery section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>ምስሎች</h2>
          <p>በጢቂቱ የኛን <span>ስራዎች</span></p>
        </div>

        <div class="gallery-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static "img/gallery/gallery-1.jpg" %}"><img src="{% static "img/gallery/gallery-1.jpg" %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static "img/gallery/gallery-2.jpg" %}"><img src="{% static "img/gallery/gallery-2.jpg" %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static "img/gallery/gallery-3.jpg" %}"><img src="{% static "img/gallery/gallery-3.jpg" %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static "img/gallery/gallery-1.jpg" %}"><img src="{% static "img/gallery/gallery-1.jpg" %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static "img/gallery/gallery-1.jpg" %}"><img src="{% static "img/gallery/gallery-1.jpg" %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static "img/gallery/gallery-1.jpg" %}"><img src="{% static "img/gallery/gallery-1.jpg" %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static "img/gallery/gallery-1.jpg" %}"><img src="{% static "img/gallery/gallery-1.jpg" %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static "img/gallery/gallery-1.jpg" %}"><img src="{% static "img/gallery/gallery-1.jpg" %}" class="img-fluid" alt=""></a></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <section id="rder" class="book-a-table section-header addTop">
                  <div class="php-email-form">
                      <div class="text-center"><a href="{% url 'allDesign' %}"><button type="submit">ሁሉንም</button> </a></div>
                    </div>
        </section>
      </div>
    </section>