{% load static%}
<section id="studio" class="events">
      <div class="container-fluid" data-aos="fade-up">

        <div class="section-header">
          <h2>Tv ስቱዲዮ</h2>
          <p>የስቱዲዮ <span> ስራዎች</span> በ ሆጂጋሪ</p>
        </div>

        <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url({% static "img/events-1.jpg" %})">
              <h3>Tv ስቱዲዮ</h3>
              <div class="price align-self-start">ብር በካሬ 30,000</div>
              <p class="description">
                በተጨማሪም፣ ለፈጠራ ያለን ፍቅር በየጊዜው አዳዲስ የንድፍ ፅንሰ ሀሳቦችን እና ቁሳቁሶችን እንድንመረምር ይገፋፋናል፣ይህም በውበት የሚያምሩ ብቻ ሳይሆን የሚሰሩ እና ዘላቂ የሆኑ የቤት እቃዎች ያስገኛሉ።
              </p>
            </div><!-- End Event item -->

            <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url({% static "img/events-2.jpg" %})">
              <h3>Tv ስቱዲዮ</h3>
              <div class="price align-self-start">ብር በካሬ 10,000</div>
              <p class="description">
              በተጨማሪም፣ ለፈጠራ ያለን ፍቅር በየጊዜው አዳዲስ የንድፍ ፅንሰ ሀሳቦችን እና ቁሳቁሶችን እንድንመረምር ይገፋፋናል፣ይህም በውበት የሚያምሩ ብቻ ሳይሆን የሚሰሩ እና ዘላቂ የሆኑ የቤት እቃዎች ያስገኛሉ።
              </p>
            </div><!-- End Event item -->

            <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url({% static "img/events-3.jpg" %})">
              <h3>Tv ስቱዲዮ</h3>
              <div class="price align-self-start">ብር በካሬ 20,000</div>
              <p class="description">
              በተጨማሪም፣ ለፈጠራ ያለን ፍቅር በየጊዜው አዳዲስ የንድፍ ፅንሰ ሀሳቦችን እና ቁሳቁሶችን እንድንመረምር ይገፋፋናል፣ይህም በውበት የሚያምሩ ብቻ ሳይሆን የሚሰሩ እና ዘላቂ የሆኑ የቤት እቃዎች ያስገኛሉ።
              </p>
            </div><!-- End Event item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>