{% load static %}
<section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>ምስክርነቶች</h2>
          <p>ስለ እኛ <span>ምን ይላሉ</span></p>
        </div>

        <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        በቅርቡ ከሆጂ ጋሪ የመመገቢያ ስብስብ ገዛሁ የእጅ ሥራው ልዩ ነው, 
                        እና ለዝርዝር ትኩረት የሚሰጠው በሁሉም የቤት እቃዎች ውስጥ ይታያል. የመመገቢያ ክፍሌን ውበት በእውነት ከፍ 
                        አድርጎታል። ሆጂ ጋሪ እንደዚህ አይነት ቆንጆ ቁራጭ ስላደረስክ እናመሰግናለን!
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>ሳምራዊት</h3>
                      <h4>Ceo &amp; Founder</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="{% static "img/testimonials/testimonials-1.jpg" %}" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        የውስጥ ዲዛይነር እንደመሆኔ፣ ሁልጊዜ ከደንበኞቼ ምርጫ እና ምርጫ ጋር የሚጣጣሙ ጥራት ያላቸው የቤት ዕቃዎችን እጠባበቃለሁ። ሆጂ ጋሪ
                         በተለያዩ ዲዛይናቸው እና እንከን የለሽ የእጅ ጥበብ ስራቸው በተከታታይ አስደነቀኝ። ለዝርዝር ትኩረት የሰጡት ትኩረት እና የተወሰኑ መስፈርቶችን 
                         ለማሟላት ቁርጥራጭን ለማበጀት ፈቃደኛ መሆናቸው ለሁሉም ፕሮጄክቶቼ የቤት ዕቃ አቅራቢ ያደርጋቸዋል።
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>ሳምራዊት</h3>
                      <h4>Designer</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="{% static "img/testimonials/testimonials-1.jpg" %}" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        ለሆጂ ጋሪ ታማኝ ደንበኛ ሆኛለሁ፣ እና ለላቀ ደረጃ ባላቸው ቁርጠኝነት መደነቄን እቀጥላለሁ። ወደ ማሳያ ክፍላቸው 
                        ከገቡበት ጊዜ ጀምሮ፣ በሙቀት እና በሙያዊ ስሜት ይቀበሉዎታል። እርስዎ የሚፈልጉትን በትክክል እንዳገኙ ለማረጋገጥ 
                        ቡድኑ ከላይ እና አልፎ ይሄዳል። ከፍተኛ ጥራት ያላቸውን የቤት ዕቃዎች እና ልዩ አገልግሎት ለሚፈልግ ለማንኛውም ሰው ሆጂ ጋሪን እመክራለሁ።
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>ሳምራዊት</h3>
                      <h4>Store Owner</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="{% static "img/testimonials/testimonials-1.jpg" %}" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        ሆጂ ጋሪ በሁሉም መንገድ ከምጠብቀው በላይ ነበር። የቤት እቃዎቼን ከቀጠሮው ቀድመው ማድረሳቸው 
                        ብቻ ሳይሆን ጥራቱ ከዚህ በፊት ካየሁት ሁሉ ይበልጣል። ለዝርዝር ትኩረት እና የእጅ ጥበብ ደረጃ በጣም አስደናቂ ነው. 
                        ለሕይወት ደንበኛ እንደምሆን በልበ ሙሉነት መናገር እችላለሁ.
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>ሳምራዊት</h3>
                      <h4>Entrepreneur</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="{% static "img/testimonials/testimonials-1.jpg" %}" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>