{% load static %}
<section id="why-us" class="why-us section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="why-box">
              <h3>ለምን Hoji Gari ይምረጡ?</h3>
              <p>
              ሆጂ ጋሪ ለጥራት ላሳየው ወደር የሌለው ቁርጠኝነት, ፈጠራ, እና የደንበኛ እርካታ. በቤት ዕቃዎች ኢንዱስትሪ ውስጥ ለዓመታት የቆየ ውርስ፣ ሆጂ ጋሪ እራሱን እንደ የታመነ ስም መስርቷል ማንኛውንም ቦታ ከፍ የሚያደርጉ ቆንጆ ቁርጥራጮችን በመስራት ይታወቃል።
              </p>
              <div class="text-center">
                <a href="#" class="more-btn">ተጨማሪ ለማወቅ <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div><!-- End Why Box -->

          <div class="col-lg-8 d-flex align-items-center">
            <div class="row gy-4">

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-clipboard-data"></i>
                  <h4>Hoji Gari</h4>
                  <p>ለትክክለኛ የእጅ ጥበብ ቁርጠኝነት እያንዳንዱ እቃ በትክክል እና ለዝርዝር ትኩረት መስራቱን ያረጋግጣል።</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-gem"></i>
                  <h4>Hoji Gari</h4>
                  <p>በተጨማሪም፣ ለፈጠራ ያለን ፍቅር በየጊዜው አዳዲስ የንድፍ ፅንሰ ሀሳቦችን እና ቁሳቁሶችን እንድንመረምር ይገፋፋናል፣ይህም በውበት 
                  የሚያምሩ ብቻ ሳይሆን የሚሰሩ እና ዘላቂ የሆኑ የቤት እቃዎች ያስገኛሉ።</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-inboxes"></i>
                  <h4>Hoji Gari</h4>
                  <p>ከዚህም በላይ የኛ ደንበኛን ያማከለ አካሄድ ከሆጂ ጋሪ ጋር ያለው 
                  እያንዳንዱ መስተጋብር ከግል ትኩረት እና እንክብካቤ ጋር መሟላቱን ያረጋግጣል፣ ይህም አጠቃላይ ልምዱን እንከን የለሽ እና አስደሳች ያደርገዋል።</p>
                </div>
              </div><!-- End Icon Box -->

            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter">
      <div class="container" data-aos="zoom-out">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>ደንበኞች</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p>ምርት</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="27" data-purecounter-duration="1" class="purecounter"></span>
              <p>የስራ ልምድ</p>
            </div>
          </div>
          <!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
              <p>ሠራተኞች</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>
    </section>