{% load static %}
<section id="worker" class="chefs section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>ሠራተኞች</h2>
          <p>የኛ <span>ፕሮፌሽናል</span> ሰራተኞቻችን</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="chef-member">
              <div class="member-img">
                <img src="{% static "img/chefs/chefs-1.jpg" %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Mikiyas Sintayehu</h4>
                <span>Master </span>
                <p>ዋና ስራ አስኪያጅ ከ 13+ አመት ልምድ...</p>
              </div>
            </div>
          </div><!-- End worker Member -->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="chef-member">
              <div class="member-img">
                <img src="{% static "img/chefs/chefs-1.jpg" %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Mikiyas Sintayehu</h4>
                <span>Master </span>
                <p>ዋና ስራ አስኪያጅ ከ 13+ አመት ልምድ...</p>
              </div>
            </div>
          </div><!-- End worker Member -->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="chef-member">
              <div class="member-img">
                <img src="{% static "img/chefs/chefs-1.jpg" %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Mikiyas Sintayehu</h4>
                <span>Master </span>
                <p>ዋና ስራ አስኪያጅ ከ 13+ አመት ልምድ...</p>
              </div>
            </div>
          </div><!-- End worker Member -->

        </div>

      </div>
    </section>